<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @status.value %>
</p>

<p>
  <b>User:</b>
  <%= @status.user %>
</p>

<p>
  <b>Profile:</b>
  <%= @status.profile %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
